[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
google-cloud-storage = "*"
gcsfs = "*"
"google.cloud.bigquery" = "*"
prefect = "*"
prefect-gcp = {extras = ["cloud_storage"], version = "*"}
pandas-gbq = "*"
google-cloud-bigquery-storage = "*"
dbt = "*"
dbt-core = "==1.8.2"
dbt-bigquery = "==1.8.2"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
